/* DEBUG */
.debug .container {
    border: 1px solid red;
}

.debug [class^='col'] {
    border: 1px solid purple;
}

/* UTILITIES */
:root {
    --blue:#2C3E50;
    --light-blue:#3A546D;
    --green:#1ABC9C;
}

.bg-blue {
    background-color: var(--blue);
}